/* Inicio o CSS resetando as propriedades */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: woff;
    src: url(/Layout/fonts/fontawesome-webfont.woff);
}

@font-face {
    font-family: woff2;
    src: url(/Layout/fonts/fontawesome-webfont.woff2);
}

@font-face {
    font-family: ttf;
    src: url(/Layout/fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: eot;
    src: url(/Layout/fonts/fontawesome-webfont.eot);
}

body {
    max-width: 1500px;
    width: 100%;
    max-height: 700px;
    height: auto;
}

main {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-around;
    background-color: white;
}

.h-orange-line {
    background-color: #ec600c;
    max-width: 1500px;
    width: 100%;
    height: 0.5vh;
}

header {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: space-between;
    gap: 2vh;
}

header img {
    max-width: 200px;
    width: 90%;
    height: auto;
    float: left;
}


/* Como trata-se de um header eu utilizei Advanced Selectors, a fim de evitar acrescentar classes, */

header ul {
    max-width: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: baseline;
    justify-content: space-around;
    list-style-type: none;
    float: right;
    gap: 1vh;
}

header a {
    color: #ec600c
}

header i:visited {
    color: #59aed4;
}

.separator-image {
    background-image: url("/Layout/img/separator-image.jpg");
    max-width: 1500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 15vh;
    margin-top: 4vh;
    opacity: 0.7;
    z-index: 1;
}

.wrapper {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
}

section img {
    max-width: 200px;
    width: 1vh;
    height: auto;
}

.titles-ebookImg {
    display: flex;
    flex-direction: row-reverse;
}

.titles {
    width: 70%;
}

h1 {
    color: #ec600c;
    font-family: woff, sans-serif;
    font-weight: bold;
}

h2 {
    color: #838385;
    font-family: woff2, sans-serif;
}

p {
    color: #4c4c54;
    font-family: eot, sans-serif
}

p>a {
    color: #ec600c;
    text-decoration: underline;
}

.ebook {
    max-width: 200px;
    width: 100%;
    height: auto;
    float: left;
    margin-top: -4vh;
}

.h-line {
    width: 80vh;
    border-width: 0;
    color: #e5e9ec;
    background-color: #e5e9ec;
}

.emphasizes {
    text-decoration: solid;
    text-align: center;
    text-emphasis-color: #ec600c;
}

.footer-frame {
    max-width: 2000px;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    background-color: #4c4c54;
    color: white;
    justify-content: flex-end;
    justify-items: end;
    justify-content: space-around;
}

.popup {
    visibility: hidden
}